// If you send '@your-app answer' in @CHANNEL_ID channel
// Response $message

interface hanakinResponse {
  [key: string]: string
}

const hanakinResponse: hanakinResponse = {
  Mon: '花金である',
  Tue: 'ちょっと花金である',
  Wed: '花金ではない',
  Thu: 'やや花金である',
  Fri: '真の花金100%である',
  Sat: '休みなので、花金である',
  Sun: '休みなので、花金である',
}

export default {
  CHANNEL_ID: 'ABCDEFGH',
  message: hanakinResponse,
  answer: '今日花金？',
  timezone: 'Asia/Tokyo',
}
